PORT=8080
HOST=0.0.0.0
NODE_ENV=development
AUTH_BASE_URL=https://has-auth.onrender.com
MEDICAL_RECORDS_BASE_URL=https://example-medical-records-service.com
NOTIFICATION_BASE_URL=https://notification-lrqp.onrender.com
ADAPTER_URL=https://has-adapter-layer.onrender.com
HTTP_TIMEOUT_SECONDS=10
AUTH_COOKIE_NAME=token
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
MEDICAL_RECORDS_DOCTORS_PATH=/doctors
MEDICAL_RECORDS_PATIENT_PATH_TEMPLATE=/patients/%s
NOTIFICATION_PATH=/api/notify
ADAPTER_APPOINTMENTS_GET_PATH_TEMPLATE=/api/adapter/appointments/%s
ADAPTER_APPOINTMENTS_PATIENT_PATH_TEMPLATE=/api/adapter/appointments/patient/%s
ADAPTER_APPOINTMENTS_DOCTOR_PATH_TEMPLATE=/api/adapter/appointments/doctor/%s
ADAPTER_APPOINTMENTS_CREATE_PATH=/api/adapter/appointments/create
ADAPTER_APPOINTMENTS_UPDATE_PATH_TEMPLATE=/api/adapter/appointments/%s
ADAPTER_APPOINTMENTS_CANCEL_PATH_TEMPLATE=/api/adapter/appointments/%s/cancel